@model List<Casgem_CodeFirstProject.DAL.Entities.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2>Hakkımda Sayfası</h2>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Açıklama</th>
        <th>Başlık</th>
        <th>Fotoğraf</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>@item.AboutDes</td>
            <td>@item.AboutTitle</td>
            <td>@item.AboutResim</td>
            <td><a href="/Admin_About/DeleteAbout/@item.AboutID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin_About/AboutUpdate/@item.AboutID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }








</table>
