@model Casgem_CodeFirstProject.DAL.Entities.Gallery
@{
    ViewBag.Title = "AddGallerie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h1>Yeni Fotoğraf Ekleme Sayfası</h1>
<form method="post">




    <label>Fotoğraf</label>

    @Html.TextBoxFor(x => x.GalleryURL, new { @class = "form-control" })
    <br />


    



    <br />
    <button class="btn btn-outline-primary">Oluştur</button>
</form>