@model List<Casgem_CodeFirstProject.DAL.Entities.Gallery>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Rehber Listesi</h2>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Fotoğraf</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GalleryID</td>
            <td>@item.GalleryURL</td>
            <td><a href="/Admin_Galeri/DeleteGallerie/@item.GalleryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin_Galeri/UpdateGallerie/@item.GalleryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }








</table>
<a href="/Admin_Galeri/AddGallerie" class="btn btn-primary">Yeni Fotoğraf Ekle</a>