

<section class="w3l-teams-15">
    <div class="team-single-main editContent">

        <div class="container">


            <div class="row">


                <div class="column2 col-lg-6">

                    <img src="~/Templates/go-trip-starter/assets/images/b1.jpg" alt="product" class="img-responsive ">
                </div>
                <div class="nature-row  coloum4 col-lg-6">
                    <h6 class="small-title">Keşfedin</h6>
                    <h3>Size Özel Tatil Paketleriyle Hayalinizdeki Tatili Yaratın </h3>
                    <p class="para editContent text ">
                        Hayal ettiğiniz tatili gerçeğe dönüştürmek için size özel olarak tasarlanmış tatil paketleriyle, tatil deneyiminizi tamamen kontrol edebilirsiniz. Bu paketler, tatilinizi hayal ettiğiniz gibi planlamanızı sağlar ve size unutulmaz anılarla dolu bir tatil sunar.
                    </p>
                    <a href="about.html" class="action-button btn mt-lg-5 mt-4">Beni Oku</a>
                </div>

            </div>
        </div>
    </div>

</section>
