|@model Casgem_CodeFirstProject.DAL.Entities.Booking
<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container">
            <div class="booking-form-content">
                <div class="main-titles-head ">
                    <h3 class="header-name">
                        Uzmanlar Tarafından Planlanan En İyi Tatili Alın!
                    </h3>
                    <p class="tiltle-para editContent ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p>
                </div>
                <form  method="post" class="booking-form">
                    <div class="row book-form">
                        <div class="form-input col-md-4">
                            <label>Ad Soyad</label>
                            <input type="text" name="CustomerName" placeholder="Ad Soyad" required="">
                        </div>
                        <div class="form-input col-md-4">
                            <label>Ülkeler</label>
                            <select name="Mail" class="selectpicker">
                                <option value="">Seç</option>
                                <option value="africa">Afrika</option>
                                <option value="america">Amerika</option>
                                <option value="asia">Aysa</option>
                                <option value="eastern-europe">Güney Amerika</option>
                                <option value="europe">Avrupa</option>
                                <option value="south-america">Balkanlar</option>
                            </select>

                        </div>
                        <div class="form-input col-md-4">
                            <label>Aktivite</label>
                            <select name="Destination" class="selectpicker">
                                <option value="">Seç</option>
                                <option value="city-tours">Şehir Turu</option>
                                <option value="cultural-thematic-tours">Kültürel &amp; Tematik Turlar</option>
                                <option value="family-friendly-tours">Aile Dostu Turlar</option>
                                <option value="holiday-seasonal-tours">Tatil &amp; Sezonluk Turlar</option>
                                <option value="indulgence-luxury-tours">Lüks Turlar</option>
                                <option value="outdoor-activites">Outdoor Aktivitleri</option>
                                <option value="relaxation-tours">Rahat Turlar</option>
                                <option value="wild-adventure-tours">Vahşi &amp; Macera Turu</option>
                            </select>

                        </div>
                        <div class="form-input col-md-4 mt-3">

                            <label>Duration</label>
                            <select name="Duration" class="selectpicker">
                                <option value="">Seç</option>
                                <option value="1">1 Gün</option>
                                <option value="2">2-4 Gün</option>
                                <option value="5">5-7 Gün</option>
                                <option value="7">7+ Gün</option>
                            </select>

                        </div>
                        <div class="form-input col-md-4 mt-3">
                            <label>Tarih</label>
                            <input type="date" name="BookingDate" placeholder="Date" required="">
                        </div>
                        <div class="bottom-btn col-md-4 mt-3">
                   
                            <button class="btn btn-style btn-primary w-100 btn-style">Onayla</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
